{% extends 'base.html' %}

{% block content %}

    <!-- 글자색 설정 CSS -->
    <link rel="stylesheet" href="/static/css/mining.css">

    <!-- 글자 깜빡이기 JavaScript -->
    <script src="/static/js/mining.js"></script>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <script type="text/javascript">
        alert("{{ messages[-1] }}")
    </script>
    {% endif %}
    {% endwith %}

    <p class="my-3">씨쥬 코인 마이닝을 시작합니다.</p>
    <p class="my-3">채굴 동안에는 반드시 컴퓨터가 켜져 있고, 브라우저가 실행되고 있어야 합니다.</p>

    <div class="row my-3">
        <div class="col-sm">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" 
                        id="miner_wallet_addr">전자지갑 주소
                    </span>
                </div>
                <input type="text" 
                    class="form-control" 
                    aria-label="Default" 
                    aria-describedby="inputGroup-sizing-default"
                    id="blockchain_addr_input" 
                    value="">
              </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-sm">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">
                        <div class="btn btn-outline-primary"id="query_coin_status">
                            코 인 조 회
                        </div>
                    </span>
                </div>
                <input type="text" 
                    class="form-control" 
                    aria-label="Default" 
                    aria-describedby="inputGroup-sizing-default"
                    id="current_coin_amount" 
                    readonly
                    value="">
              </div>            
        </div>
    </div>
    <div class="row my-3">
        <div class="col-sm">
            <!-- 채굴에 따른 코인 현황 -->
            <ul class="my-3" id="mining_coin_status" hidden>
                <li>채굴 시작할때 보유 코인: 
                    <span id="coin_amount_at_start"></span>
                </li>
            </ul>
            <a href="#" class="btn btn-outline-primary" id="mining_start">
                채굴 시작!
            </a>
            <a href="#" class="btn btn-outline-primary" id="mining_stop" hidden>
                채굴 중단
            </a>
        </div>
        <p class="blink my-3" id="msg_for_start_mining" hidden>
            채굴이 진행되고 있습니다!!! <br>
            채굴 중에는 블라우저를 닫거나 컴퓨터를 끄지 마세요.
        </p>
        <p class="my-3" id="msg_for_stopp_mining" hidden>
            채굴을 중단합니다. 현재 진행중인 채굴 작업을 마무리 합니다. <br>
            잠시만 기다려 주세요... <br>
            지금부터는 브라우저를 종료해도 됩니다.
        </p>
        <p class="my-3" id="msg_for_stopping_completed" hidden>
            채굴이 중단되었습니다.
        </p>
    </div>

{% endblock %}