<!-- 네비게이션바 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottomd-flex ">
    <div class="container-fluid nav-pills d-flex justify-content-center text-center ">
  
      <!-- 햄버거 메뉴 -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span>
          메뉴 열기<span class="navbar-toggler-icon"></span>
        </span>
      </button>
  
      <div
        class="collapse navbar-collapse nav justify-content-center"
        id="navbarSupportedContent">
  
        <a class="navbar-brand" href="{{ url_for('main.home') }}">Home</a>
        <ul class="nav nav-pills">
  
          <!-- 로그인 상태라면 로그아웃 버튼을 보여주기 -->
          {% if g.user %}
          <li class="nav-item">
            <a class="nav-link" href="#">내 지갑</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">이체하기</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">(로그아웃)</a>
          </li>
          {% endif %}
  
          <!-- 로그아웃 상태하면 보여줄 메뉴 -->
          {% if not g.user %}
          <li class="nav-item"><a href="#" class="nav-link">회원가입</a></li>
          <li class="nav-item"><a href="#" class="nav-link">로그인</a></li>
          {% endif %}
  
        </ul>
      </div>
    </div>
  </nav>