{% extends 'base.html' %}

{% block content %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <script type="text/javascript">
        alert("{{ messages[-1] }}")
    </script>
    {% endif %}
    {% endwith %}

    <form method="post">
        <!-- Form 오류 표시 -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field, errors in form.errors.items() %}
            <strong>{{ form[field].label }}</strong>
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        {% endif %}

        {{ form.csrf_token }}

        <div class="mb-3">
            <label for="user_id" class="form-label">아이디</label>
            <input type="text" class="form-control"
                id="user_id" name="user_id"
                value="{{ form.user_id.data or '' }}"
                autoComplete="off"
                placeholder="최소 4글자 이상">
        </div>        
        <div class="mb-3">
            <label for="passwd1" class="form-label">비밀번호</label>
            <input type="password" class="form-control" id="passwd1" name="passwd1"
                autoComplete="off"
                value="{{ form.passwd1.data or '' }}"
                autoComplete="off"
                placeholder="대소문자, 특수기호, 숫자 포함해야 하며, 7글자 이상">
        </div>
        <div class="mb-3">
            <label for="passwd2" class="form-label">비밀번호 확인</label>
            <input type="password" class="form-control" id="passwd2" name="passwd2"
                autoComplete="off"
                value="{{ form.passwd2.data or '' }}"
                placeholder="비밀번호 확인을 위해 다시 한번 입력해 주세요">
        </div>   
        <div class="mb-3">
            <label for="name" class="form-label">이름</label>
            <input type="text" class="form-control" id="name" name="name"
                value="{{ form.name.data or '' }}"
                autoComplete="off"
                placeholder="(예) 홍길동">
        </div>
        <div class="mb-3">
            <label for="phone_mobile" class="form-label">휴대전화번호</label>
            <input type="tel" class="form-control" id="phone_mobile" name="phone_mobile"
                pattern="(010)-\d{3,4}-\d{4}"
                value="{{ form.phone_mobile.data or '' }}"
                autoComplete="off"
                placeholder="010-1234-5678">
        </div>    
        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="email" class="form-control" id="email" name="email"
                value="{{ form.email.data or '' }}"
                autoComplete="off"
                placeholder="email@example.com">
        </div> 
        <button type="submit" class="btn btn-outline-primary">제출하기</button>
        <a href="#" class="btn btn-outline-primary">취소</a>
    </form>

{% endblock %}












